{% extends 'base.html' %}

{% block content %}
<h1>Панель администратора</h1>
<hr>
<div class="row">
    <div class="col">
        <h3>Добавление категории</h3>
    </div>
    <div class="col">
        <a href="{{ url_for('admin.film_panel') }}"><h4>Добавить фильм</h4></a>
    </div>
</div>
<form action="" method="post" novalidate class="form-group">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}
        <br>
        {{ form.name(size=32) }}
    </p>
    <br>
    <p>{{ form.submit() }}</p>
</form>
<hr>
{% endblock %}
