body {
    background: #fafafa;
    position: relative;
    min-height: 100%;
    margin-top: 7rem !important;
    margin-bottom: 10rem !important;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #2c4859;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.page-title {
    margin-top: 100px;
    margin-bottom: 100px;
}

.btn-group {
    position: static;
    padding: 5px;
}

.filter {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1em;
    border-color: #29516d;
    border-radius: 9px;
    background: #2c4859;
    color: #fff;
}

.filter:hover {
    background: rgba(41, 81, 109, 0.8);
}

a.dropdown-item:active {
    background: #29516d;
}

a.page-link {
    font-size: 32px;
    color: #2c4859;
}

a.page-link:hover {
    color: #2c4859;
}