{% extends 'base.html' %}

{% block content %}
<div class="container d-flex align-item-center justify-content-between page-title">
    <!-- Добавление заголовка -->
    <div class="d-flex align-item-center">
        {% block header %}<h2>Каталог всех фильмов</h2>{% endblock %}
    </div>
    <!-- Фильтр -->
    <div class="btn-group">
        <button class="dropdown-toggle filter" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
            Фильтр
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('films.films') }}">Все</a></li>
            {% for cat in categories %}
            <li>
                <a class="dropdown-item" href="{{ url_for('films.films') }}?slug={{ cat.slug }}">{{ cat.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- Сетка фильмов -->
<div class="container">
    <div class="row row-cols-1 gy-5">
        {% for film in films %}
        <!-- Каждая карточка фильма -->
        <div class="container film-card">
            <div class="row">
                <div class="col-3 align-self-top">
                    <img src="{{ film.img_url }}" alt="Афиша фильма" width="210">
                </div>
                <div class="col-8">
                    <h4 class="card-title">{{ film.title }}</h4>
                    <hr>
                    <p><strong>{{ film.release }} г.</strong> {{ film.country }}</p>
                    <p><strong>Жанр:</strong> {{ film.genre }}</p>
                    <p><strong>Режиссер:</strong> {{ film.director }}</p>
                    <p><strong>В ролях:</strong> {{ film.actors }}</p>
                    <p><strong>О фильме:</strong> {{ film.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}